header {
    background-color: #EAC926;
    padding: 1em;
}

.header-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}

div form {
    width: 100%;
}

div input {
    width: 100%;
}

div i {
    justify-self: flex-end;
    font-size: 15px;
}

#busqueda {
    display: flex;
    height: 2em;
    padding: 0 1em;
    color: #666;
    background-color: white;
    width: auto;
    border-radius: 1em;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    flex-grow: 2;
}

.cuotas {
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.burger-menu {
    display: inline-block;
    background-color: #1259c3;
    width: 2em;
    font-size: 1.5em;
    padding: 10px;
    border-radius: .5em;
    margin-top: 10px;
}

header div img {
    display: block;
    width: 100%;
    max-height: 50px;
    justify-self: flex-start;
    /* padding: 1em; */
}

.logo {
    width: 30%;
    max-height: 50px;
    transition: all .1s;
}


header div {
    text-align: center;
    display: inline-block;
}

header article {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul a {
    color: #222222;
    text-decoration: none;
    font-size: clamp(1em, 1.5em, 1em);
    /* font-size: clamp(1rem, 10vw, 2rem);  */
    
}

header nav ul li {
    margin: 5px;
    /* transition: all 3s; */
}

header nav ul li :hover {
    font-weight: bold;
}

.lupa {
    display: inline-block;
}

.banner {
    width: 100%;
}

.banner img {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}