main {
    text-align: center;
    margin: auto;
    width: 100%;
}

main section {
    display: grid;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    gap: 25px 0;
    justify-content: space-evenly;
}

main article {
    background-color: white;
    text-align: left;
    margin: auto;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: all .3s;
}


article:hover > div > #descripciones {
    opacity: 1;
    padding-bottom: 1em
}

main img {
    width: 100%;
    display: block;
    margin: 0 auto auto auto;
    height: 70%;
}

.caja {
    border-top: #ebebeb 1px solid;
    width: 100%;
    align-self: flex-end;
    /* height: 30%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    text-align: left;
    position: relative;
    padding-top: 5px;
}

#titulares {
    font-size: 24px;
    /* margin: 15px; */
}

.camion {
    position: absolute;
    right: 5%;
    top: -1em;
    display: inline-block;
    color: #39b54a;
    font-size: 16px;
    padding: .4em;
    border: 1px solid #39b54a;
    background-color: white;
    border-radius: 50%;
    transition: all .3s;
}

.camion:hover {
    scale: 1.2;
    rotate: -11deg;
}

.pago {
    display: flex;
    width: 100%;
    height: auto;
    align-self: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

#precios {
    font-size: 1.5em;
    width: auto;
    display: block;
    margin-right: 5px;
}

#descuentos {
    font-size: 1em;
    color: #39b54a;
    font-weight: normal;
    width: auto;
    display: inline-block;
    flex-shrink: .5;
}

#descripciones {
    font-size: 1em;
    font-weight: normal;
    opacity: 0;
    transition: all .3s;
}