*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    min-width: 250px;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

html {
    scroll-behavior: smooth;
}